Repository haliphax/aethersprite: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-lint, ruff-format, prettier

ruff-lint:
  name: Lint files with ruff
  args:
  - check
  - --fix
  - --show-fixes
  entry: ruff
  language: system

ruff-format:
  name: Format files with ruff
  args:
  - format
  entry: ruff
  language: system

prettier:
  name: Format files with prettier
  args:
  - prettier
  - -l
  - -u
  - -w
  entry: npx
  language: system

ruff format
  aethersprite/emotes.py
  aethersprite/extensions/base/alias.py
  aethersprite/extensions/base/roles.py
  aethersprite/extensions/base/settings.py
  aethersprite/extensions/base/yeet.py
  aethersprite/filters/boolean_filter.py
  aethersprite/filters/channel_filter.py
  aethersprite/filters/role_filter.py
  aethersprite/filters/seconds_filter.py
  aethersprite/filters/setting_filter.py
  aethersprite/settings.py
Due: ruff-lint, ruff-format

workflow upgrades
  .github/workflows/checks.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yml
Due: prettier

move fastapi and uvicorn to optional "web" dependency list
  README.md
  pyproject.toml
  requirements/dev.in
  requirements/dev.txt
  requirements/docs.in
  requirements/docs.txt
  requirements/requirements.in
  requirements/requirements.txt
  requirements/web.in
  requirements/web.txt
Due: prettier

ruff format, fix workflows
  .github/workflows/checks.yml
  .github/workflows/docs.yml
  aethersprite/__init__.py
  aethersprite/common.py
  aethersprite/extensions/base/greet.py
  aethersprite/extensions/base/poll.py
  aethersprite/extensions/base/roles.py
  aethersprite/extensions/base/yeet.py
Due: ruff-lint, ruff-format, prettier

bump requirements
  requirements/dev.txt
  requirements/docs.txt
  requirements/requirements.txt
  requirements/web.txt
Due: prettier

remove webapp init from bot init
  aethersprite/__init__.py
Due: ruff-lint, ruff-format

warning emoji
  aethersprite/emotes.py
Due: ruff-lint, ruff-format

📝 add web module example to readme
  README.md
Due: prettier

Path conditions:
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
  prettier: any file but: \.py$
